.features {
    overflow: hidden;

    &__wrapper {
        background: #f7eee5;
    }

    .container {
        padding: 30px 60px 60px 60px;
        background: #f7eee5;
    }

    &__title {
        @include second-title;
        padding: 69px 0 0 0;
        margin: 0 0 60px 0;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: 32px 31px;

        @media (max-width: 1246px) {
            gap: 25px;
        }


        @media (max-width: 1029px) {
            gap: 10px;
        }

    }

    &__item {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-flow: column;
        width: 31.5%;
        height: 317px;
        background: $blue;
        box-shadow: 0px -30px 0px -5px $blue inset;
        z-index: 3;
    }

    &__item-image {
        @include image-wrapper;
    }

    &__item-info {
        position: absolute;
        bottom: -273px;
        left: 0;
        width: 100%;
        height: 130%;
        color: $white;
        background: $blue;
        z-index: 2;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: translate(0, -290px);
            opacity: 1;
            transition: all 0.3s ease-in-out;
            cursor: auto;
        }
    }

    &__item-info:hover ~ .features__item-icon {
        transform: rotate(45deg);
        transition: all 0.3s ease-in-out;
    }

    &__item-link {
        display: flex;
        flex-flow: column nowrap;
        font-weight: 400;
        font-size: 18px;
        line-height: 122%;
        padding: 21px 20px 60px 20px;
        color: $white;

        textarea {
            resize: none;
            background: $blue;
            color: $white;
            border: none;
            white-space:wrap;
            overflow:hidden;
            text-overflow:ellipsis;
        }

        p {
            min-height: 90px;
            margin: 0 0 50px 0;

            &:nth-child(1) {
                margin: 0 0 30px 0;
            }
        }
    }

    &__item-icon {
        position: absolute;
        bottom: 26px;
        right: 19px;
        z-index: 4;
        transition: all 0.3s ease-in-out;
    }


    /* slider */
    &__slider {
        display: none;
    }
}

@media (max-width: $notebook-width) {

    .features {

        .container {
            padding: 30px 55px 60px 55px;
        }

        &__title {
            padding: 50px 0 0 0;
            margin: 0 0 32px 0;
        }

        &__list {
            flex-flow: row wrap;
            gap: 20px 36px;

        }

        &__item {
            width: 30.5%;
            height: 343px;
            z-index: 3;
        }

        &__item-image {
            @include image-wrapper;
        }

        &__item-info {
            bottom: -281px;

            &:hover {
                transform: translate(0, -340px);
            }
        }

        &__item-info:hover ~ .features__item-icon {
        }

        &__item-link {
            display: flex;
            flex-flow: column nowrap;
            font-weight: 400;
            font-size: 18px;
            line-height: 122%;
            padding: 21px 20px 60px 20px;
            color: $white;

            textarea {
                resize: none;
                background: $blue;
                color: $white;
                border: none;
                white-space:wrap;
                overflow:hidden;
                text-overflow:ellipsis;
            }

            p {
                min-height: 90px;
                margin: 0 0 50px 0;

                &:nth-child(1) {
                    margin: 0 0 80px 0;
                }
            }
        }

        &__item-icon {
            position: absolute;
            bottom: 26px;
            right: 19px;
        }


        /* slider */
        &__slider {
            display: none;
        }
    }
}

@media (max-width: $tablet-width) {
    .features {

        &__wrapper {
        }

        .container {
            margin: 0 15px;
            padding: 30px 20px 20px 20px;
        }

        &__title {
            font-size: 20px;
            line-height: 160%;
            padding: 50px 0 0 0;
            margin: 0 0 20px 0;
        }

        &__list {
            display: none;

        }

        &__item {
            width: 30.5%;
            height: 343px;
            z-index: 3;
        }

        &__item-image {

            img {
                width: auto;
                height: 170px;
            }
        }

        &__item-info {
            bottom: -255px;

            &:hover {
                transform: translate(0, -340px);
            }
        }

        &__item-info:hover ~ .features__item-icon {
        }

        &__item-link {
            display: flex;
            flex-flow: column nowrap;
            font-weight: 400;
            font-size: 18px;
            line-height: 122%;
            padding: 21px 20px 60px 20px;
            color: $white;

            textarea {
                resize: none;
                background: $blue;
                color: $white;
                border: none;
                white-space:wrap;
                overflow:hidden;
                text-overflow:ellipsis;
            }

            p {
                min-height: 90px;
                margin: 0 0 50px 0;

                &:nth-child(1) {
                    margin: 0 0 80px 0;
                }
            }
        }

        &__item-icon {
            position: absolute;
            bottom: 26px;
            right: 19px;
        }


        /* slider */
        &__slider {
            position: relative;
            overflow: hidden;
            display: flex;
            width: 95%;
        }

        &__slide {
            overflow: hidden;
            display: flex;
            width: 93%;
            margin: 0 15px;
            width: 260px;
            height: 284px;
        }

        .slide {
            &__item {
                position: relative;
                overflow: hidden;
                display: flex;
                flex-flow: column;
                width: 31.5%;
                height: 317px;
                background: $blue;
                box-shadow: 0px -30px 0px -5px $blue inset;
                z-index: 3;
            }

            &__item-image {
                @include image-wrapper;
            }

            &__item-info {
                position: absolute;
                bottom: -273px;
                left: 0;
                width: 100%;
                height: 130%;
                color: $white;
                background: $blue;
                z-index: 2;
                transition: all 0.3s ease-in-out;

                &:hover {
                    transform: translate(0, -290px);
                    opacity: 1;
                    transition: all 0.3s ease-in-out;
                    cursor: auto;
                }
            }

            &__item-info:hover ~ .slide__item-icon {
                transform: rotate(45deg);
                transition: all 0.3s ease-in-out;
            }

            &__item-link {
                display: flex;
                flex-flow: column nowrap;
                font-weight: 400;
                font-size: 18px;
                line-height: 122%;
                padding: 21px 20px 60px 20px;
                color: $white;

                textarea {
                    resize: none;
                    background: $blue;
                    color: $white;
                    border: none;
                    white-space:wrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                }

                p {
                    min-height: 90px;
                    margin: 0 0 50px 0;

                    &:nth-child(1) {
                        margin: 0 0 30px 0;
                    }
                }
            }

            &__item-icon {
                position: absolute;
                bottom: 26px;
                right: 19px;
                z-index: 4;
                transition: all 0.3s ease-in-out;
            }
        }

        .slider {
            position: relative;
        }

        .slick-slider{
            position: relative;
            height: 100%;
            margin: 0;
            z-index: 2;
        }

        /* Слайдер запущен */
        .slick-slider.slick-initialized{}

        /* Слайдер с точками */
        .slick-slider.slick-dotted{}

        .slick-arrow {
            position: absolute;
            top: 100px;
            content: '';
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            background-position: center;
            background-color: transparent;
            background-repeat: no-repeat;
            font-size: 0;
            z-index: 3;
            border: none;
            background-color: transparent;
        }

        .slick-prev.slick-arrow {
            left: 0;
            background-image: url('../img/main/features/arrow.svg');
            width: 10px;
            height: 8px;
        }

        .slick-next.slick-arrow {
            right: 0;
            background-image: url('../img/main/features/arrow.svg');
            width: 10px;
            height: 8px;
            transform: rotate(180deg);
        }

        /* dots */
        .slick-dots {
            position: absolute;
            bottom: 0;
            left: 44%;
            display: flex;
            flex-shrink: 0;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 64px;

        }

        .slick-dots li button {
            display: block;
            width: 4px;
            height: 4px;
            padding: 0px;
            font-size: 0;
            background: rgba(138, 123, 96, 0.33);
            border: none;
            border-radius: 50%;
        }

        .slick-dots .slick-active button {
            background: #0a3b93;
        }

        /* Ограничивающая оболочка */
        .slick-list {
            overflow: visible;
            margin: 0 auto;
            margin-bottom: 40px;
        }

        /* Лента слайдов */
        .slick-track{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 90px;
        }

        /* Слайд */
        .slick-slide{
            overflow: hidden;

            &:not(:first-child) {
                margin-left: 25px;
            }
        }
        /* slider-end */
    }
}
