.header {
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 3;
    margin: 0 0 97px 0;

    .container {
        padding-top: 15px;
    }

    &__intro {
        position: relative;
        background-image: url('../img/header/main.png');
        background-size: 100% 600px;
        height: 600px;
        margin: 0 0 99px 0;
            
        @media (max-width: 1200px) {
            background-size: auto;
            background-position: 50%;
        }
    }

    &__logo {
        margin: 0 0 113px 60px;
    }

    &__image {
        
        img {
            z-index: 1;
        }
    }

    &__text-block {
        width: 550px;
        margin: 0 0 0 60px;
        color: $white;
        z-index: 2;
    }

    &__title {
        @include main-title;
        font-weight: 400;
        margin: 0 0 15px 0;
    }

    &__description {
        font-size: 26px;
        line-height: 138%;
    }

    &__crumbs {
        position: absolute;
        bottom: -101px;
        right: 0;
    }

    &__present {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        padding: 0 40px;
    }

    &__present-video {
        position: relative;
        width: 545px;
        height: 367px;
        margin: 37px 41px 0 20px;
        box-shadow: -35px -37px 0px 0px #f7eee5;
    }

    &__present-text {
        display: flex;
        flex-flow: column nowrap;
        width: 545px;
    }

    &__present-number {
        margin: 0 0 18px 0;
    }

    &__present-number-description {
        font-family: "Lato";
        font-weight: 700;
        font-size: 18px;
        line-height: 167%;
        text-transform: uppercase;
        color: $blue;
        margin: 0 0 30px 0;
    }

    &__present-description {
        font-weight: 400;
        font-size: 18px;
        line-height: 167%;
        color: #6c5f4a;

        br {
            display: none;
        }

        p {
            &:first-child {
                margin: 0 0 16px 0;
            }
        }
    }
}

@media (max-width: $notebook-width) {
    .header {
        margin: 0 0 75px 0;
    
        .container {
            padding-top: 15px;
        }
    
        &__intro {
            position: relative;
            background-image: url('../img/header/main.png');
            height: 600px;
            margin: 0 0 79px 0;
        }
    
        &__logo {
            margin: 0 0 133px 60px;
        }
    
        &__image {
            
            img {
                z-index: 1;
            }
        }
    
        &__text-block {
            margin: 0 0 0 40px;
            z-index: 2;
        }
    
        &__title {
            margin: 0 0 27px 0;
        }
    
        &__description {
            font-size: 26px;
            line-height: 138%;
        }
    
        &__crumbs {
            display: none;
        }
    
        &__present {
            padding: 0 15px;
        }
    
        &__present-video {
            width: 405px;
            height: 271px;
            margin: 59px 27px 0 25px;
            box-shadow: -40px -26px 0px 0px #f7eee5;

            iframe {
                width: 100%;
                height: 271px;
            }
        }
    
        &__present-text {
            width: 417px;
        }
    
        &__present-number {
            margin: 0 0 18px 0;
        }
    
        &__present-number-description {
            margin: 0 0 30px 0;
        }
    
        &__present-description {
    
            p {
                &:first-child {
                    margin: 0 0 16px 0;
                }
            }
        }
    }
}

@media (max-width: $tablet-width) {
    .header {
        margin: 0 0 59px 0;

        &__wrapper {
            margin: 0 5px;
        }
    
        .container {
            padding-top: 15px;
        }
    
        &__intro {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;
            background-size: auto 314px;
            background-repeat: no-repeat;
            height: 314px;
            margin: 0 0 60px 0;
        }
    
        &__logo {
            width: 167px;
            height: 65px;
            margin: 0 auto;
            margin-bottom: 54px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    
        &__image {
            
            img {
                z-index: 1;
            }
        }
    
        &__text-block {
            margin: 0;
            z-index: 2;
        }
    
        &__title {
            font-weight: 400;
            font-size: 36px;
            line-height: 111%;
            margin: 0 0 21px 0;
        }
    
        &__description {
            width: 350px;
            margin: 0 auto;
            font-size: 16px;
            line-height: 125%;
        }
    
        &__crumbs {
            display: none;
        }
    
        &__present {
            flex-flow: column-reverse nowrap;
            padding: 0 15px;
        }
    
        &__present-video {
            width: 94%;
            height: 358px;
            margin: 59px 27px 0 25px;
            box-shadow: -25px -46px 0 0 #f7eee5;

            iframe {
                width: 100%;
                height: 358px;
            }
        }
    
        &__present-text {
            width: 100%;
        }
    
        &__present-number {
            width: 71px;
            height: 31px;
            margin: 0 0 11px 0;

            img {
                width: 100%;
                height: 100%;
            }
        }
    
        &__present-number-description {
            font-size: 9px;
            line-height: normal;
            margin: 0 0 17px 0;
        }
    
        &__present-description {
            font-size: 14px;
            line-height: 143%;
            padding: 0 10px 0 0;
            margin: 0 0 17px 0;

            br {
                display: inline-block;
            }
    
            p {
                &:first-child {
                    margin: 0 0 10px 0;
                }
            }
        }
    }
}