.statistic {
    overflow: hidden;

    &__wrapper {
        background: #f7eee5;
        padding: 0 60px
    }

    .container {
    }

    &__title {
        @include second-title;
        text-transform: uppercase;
        margin: 0 0 20px 0;
        padding: 65px 0 0 0;
    }

    &__description {
        font-weight: 400;
        font-size: 18px;
        line-height: 167%;
        color: #6c5f4a;
        margin: 0 0 60px 0;
    }

    &__list {
        display: flex;
        flex-flow: column nowrap;
    }

    &__item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;

        &:nth-child(2) {
            margin-left: auto;
        }
    }

    &__item-image {
        @include image-wrapper;
    }

    &__item:first-child {
        
        .statistic__groupe-item:first-child {
            position: relative;

            p {
                position: absolute;
                right: 0;
                bottom: 0;
                display: inline-flex;
                justify-content: flex-end;
                width: 100%;
                font-size: 18px;
                line-height: 122%;
                padding: 17px 40px 15px 10px;
                color: $white;
                background: #8a7b60;
            }
        }

        .statistic__groupe-item:nth-child(2) {
            position: relative;
            display: flex;
            flex-flow: column nowrap;

            p {
                position: absolute;
                right: 0;
                bottom: 0;
                display: inline-flex;
                width: 100%;
                font-size: 18px;
                line-height: 122%;
                padding: 17px 30px 15px 40px;
                color: $white;
                background: $blue;
            }
        }
    }

    &__item:nth-child(2) {

        .statistic__groupe-item {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            //padding: 20px;
            background: $blue;
            color: $white;
        }

        .statistic__groupe-item:nth-child(2) {
            position: relative;
            p {
                position: absolute;
                right: 0;
                bottom: 0;
                display: inline-flex;
                //justify-content: flex-end;
                width: 100%;
                font-size: 18px;
                line-height: 122%;
                padding: 17px 15px 15px 40px;
                color: $white;
                background: #8a7b60;
            }
        }

        
    }
}