//colors
$white: #ffffff;
$blue: #0a3b93;
//special-color
$input-hover-border: rgba(29, 41, 49, 0.6);
//width
$desktop-width: 1280px;
$notebook-width: 960px;
$tablet-width: 640px;
$mobile-width: 320px;
//fonts
