//colors
$white: #ffffff;
$red: #f15f79;
$tint-red: #e53c5a;
$black: rgb(29, 41, 49);
$text-link: #bbbbcb;
//special-color
$input-hover-border: rgba(29, 41, 49, 0.6);
//width
$desktop-width: 1280px;
$notebook-width: 960px;
$tablet-width: 640px;
$mobile-width: 320px;
//fonts
